@import "tailwindcss";
/* @config "../tailwind.config.js"; */

@theme {
    --spacing-maxWidth: 1600px;
    --breakpoint-desktop:1020px;
    --breakpoint-tablet: 767px;
    --breakpoint-1300:1300px;
    --color-ee: #2fa1b5;
    --color-pokeko:#c48bb8;
    /* FONTS */
    --font-mozilla-headline: "Mozilla Headline", sans-serif;
    --font-noto-sans-kr: "Noto Sans KR", sans-serif;
    --font-oswald: "Oswald", sans-serif;
    --font-bagel: "Bagel Fat One",sans-serif;
    --font-azeret: "Azeret Mono",sans-serif;
    --font-poppins: "Poppins",sans-serif;
}

@layer utilities{
    .flex-center{
        @apply flex items-center justify-center flex-col min-h-screen w-full overflow-x-hidden;
    }
}

@layer components{
    .paper{
        background-image: url('../src/assets/images/paperBG.png');
        object-fit: contain;
    }
    .scrollXHidden{
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .shadowEffect1{
        box-shadow: 2px 12px 10px 2px rgba(0, 0, 0, 0.5);
    }
    .shadowEffect2{
        box-shadow: .5px 3px 2px 0px rgba(127, 127, 127, 0.5);
    }
    .textShadow{
        text-shadow: 1px 1px 5px rgb(54, 54, 54) ;
    }
    
    /* Day Picker */
    .rdp-root{
        width: 280px;
    }
    .rdp-nav{
        background-color: #d1c79f;
        display: flex !important;
        justify-content: center !important;
        gap: 20px !important;
    }
    .rdp-button_next{
        cursor: pointer;
    }
    .rdp-month_caption{
        font-size: 20px;
        display: flex;
        justify-content: center !important;
    }
    .rdp-month table {
        width: 100%;
    }
    .rdp-day{
        cursor: pointer;
        text-align: center;
    }
    .rdp-selected{
       background-color: #bcc671;
    }
    .rdp-today{
        background-color:#ece1b5
    }

    @media screen and (min-width: 767px) {
        .rdp-root{
            width: 400px;
        }
    }
}